:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /*Neutral*/

    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

p{
    font-weight: 300;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
    color: hsl(0, 0%, 60%); 
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 330px;
    padding: 1.25rem;
    background-color: var(--card-bg);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.container h1 {
    color: var(--white);
    margin: 1rem 0.5rem 0.5rem 0;
    cursor: pointer;
    font-size: 22px;
}

.container h1:hover {
    color: var(--cyan);
}

.header-card img {
    border-radius: 0.5rem;
}

.header-card {
    position: relative;
}

.header-card div{
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: hsl(178, 100%, 50%, 50%);
    width: 100%;
    height: calc(100% - 4px);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.5rem;
}

.header-card div:hover {
    opacity: 1;
}

.header-card div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-card div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--line);
    font-weight: 600;
}

.main-card div span:first-child {
    color: var(--cyan);
}

.main-card div span {
    display: flex;
    align-items: center;
} 

.main-card div span img {
    margin-right: 0.5rem;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
}

.avatar img {
    width: 2.5rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 1rem;
}

.avatar p span{
    color: var(--white);
    font-weight: 400;
    cursor: pointer;
}

.avatar p span:hover {
    color: var(--cyan);
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: #fff; 
}

@media (max-width: 375px) {
    .container {
        width: 90%;
    }    
}